<p>Cat-friendly videos on demand.</p>

<h2>Here are some satisfied customers:</h2>

<ul>
  {{#each catArray}}
    <li>
      <h3>{{this.catName}}</h3>
      <p>{{this.age}} years old</p>
    </li>
  {{/each}}
</ul>
